<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>경운대학교 통학버스</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/script.js" defer></script>
</head>
<body>

<header>
    <div class="header-container">
        <div class="menu-icon" onclick="toggleSidebar()">☰</div>
        <h1 class="center-title" onclick="loadHomePage()" style="cursor: pointer;">경운대학교</h1>
    </div>
</header>

<div id="sidebar">
    <div class="sidebar-header">
        <h2>경운대학교</h2>
        <span class="close-icon" onclick="toggleSidebar()">×</span>
    </div>
    <ul>
        <li id="menu-member">회원정보</li>
        <li id="menu-messagebox">쪽지함</li>
        <li id="menu-boarding">탑승내역</li>
        <li id="menu-bus-reservation">버스예약</li>
        <li id="menu-bus-log">버스예약내역</li>
        <li id="menu-station">노선 및 정거장</li>
        <li id="menu-notice">공지사항</li>
        <li id="menu-logout" onclick="location.href='/'">로그아웃</li>
    </ul>
</div>


<main>
    <section class="info">
        <h2>학기권 : 대구(교육관)</h2>
    </section>

    <section class="buttons">
        <button>📑 학기권 신청</button>
        <button>📅 버스 예약</button>
    </section>

    <section class="qr">
        <h3 onclick="openQRModal()" style="cursor: pointer;">📱 모바일승차권 QR</h3>
    </section>

    <div id="qrModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeQRModal()">×</span>
            <h2>모바일 승차권(QR)</h2>
            <img src="/qr.png" alt="QR 코드" width="200" />
            <p>만료 : 2025-03-26 18:07:50<br>만료 이전까지만 사용 가능합니다.</p>
            <button class="modal-close-button" onclick="closeQRModal()">닫기</button>
        </div>
    </div>


    <section class="notices">
        <h3>최근 쪽지</h3>
        <ul>
            <li>빈 쪽지</li>
        </ul>
    </section>

    <section class="announcements">
        <h3>공지사항</h3>
        <ul>
            <li>📢 3월 20일부터 QR코드 미소지 및 페널티 안내</li>
            <li>📢 2025학년도 1학기 통학버스 노선 안내</li>
            <li>📢 2025년 1학기 통학버스 신청안내</li>
        </ul>
    </section>
</main>

</body>
</html>
